<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BootstrapProdSolrSearch"
         connectionString ="Data Source=VS16\I1_2008;Initial Catalog=Proactivity_Custom_BiBootstrapPROD_SolrSearch;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>